.container {
    margin: 1em;
}

#date {
    font-family: "Courier New", Courier, monospace;
}

.details {
    text-align: right;
}

#orderNumber {
    font-family: "Courier New", Courier, monospace;
}
.itemList {
    margin-left: 1em;
}

.item {
    margin: 1em auto 1em;
    display: flex;
}
.itemInfo {
    padding-left: 1em;
    flex-grow: 1;
}

.dividerLine {
    margin: 3em auto 1em;
}

p {
    font-family: "Courier New", Courier, monospace;
}

.totalPrice {
    float: right;
}

.footer {
    margin-top: 15em;
}

.address > p {
    margin: 1em 0 0em;
}
